.header-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  .header {
    margin: 0;
    flex: 1;
    ul {
        height:80px;
        width: 100%;
    //   height: 100%;
      position: relative;
      z-index: 2;
      list-style: none;
      color: #fff;
      display: inline-flex;
      margin: 0;
      padding: 0;
    //   justify-content: center;
      align-items: center;
      li {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size:20px;
        img {
          max-height: 100%;
          margin-right: 10px;
        }
      }
    }
  }
}
