.stage {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-perspective-origin: 50% -200px;
  perspective-origin: 50% -200px;
  -webkit-perspective: 1100px;
  perspective: 1100px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(28, 40, 97);
  background: radial-gradient(
    circle,
    rgba(28, 40, 97, 1) 0%,
    rgba(23, 27, 37, 1) 80%
  );
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.world {
  width: 672px;
  height: 840px;
  -webkit-transform: translateZ(-210px);
  transform: translateZ(-210px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation-name: bottom-top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  .terrain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: inherit;
    transform-style: inherit;
  }
}

.team {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  .players {
    display: flex;
    // align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 490px;
    // height: 490px;
    margin-bottom: 200px;
    .players-row {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
    .player {
      z-index: 9;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      margin: 10px;
      cursor: pointer;
      text-align: center;
      display: flex;
      flex-direction: column;
      img {
        max-width: 100px;
        border-radius: 130px;
      }
    }
  }
}

@keyframes bottom-top {
  0% {
    transform: translateZ(-210px) translateY(140vh);
  }
  100% {
    transform: translateZ(-210px) translateY(0vh);
  }
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: 2;
  -webkit-transform: rotateX(90deg) translateZ(0);
  transform: rotateX(90deg) translateZ(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  box-sizing: content-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  &.alt {
    display: block;
    width: 80%;
    left: 10%;
    -webkit-transform: rotateX(90deg) translateZ(-10px);
    transform: rotateX(90deg) translateZ(-10px);
    background: #000;
    opacity: 0.3;
    box-shadow: 0 0 40px 30px #000;
  }
}

.field__texture {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  &.field__texture--gradient {
    background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.2),
      transparent
    );
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
    z-index: 4;
  }
}

.texture .field__texture.field__texture--grass {
  background-image: url("../../assets/images/grass2.png");
  background-repeat: repeat;
  background-size: 75px 75px;
  background-position: -20px -20px;
}
.field__side {
  position: absolute;
  top: 420px;
  left: 0;
  width: 100%;
  height: 8px;
  -webkit-transform: rotateX(180deg) translateZ(-420px);
  transform: rotateX(180deg) translateZ(-420px);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background-color: #f7f7f7;
  z-index: 9;
}
.texture {
  .field__side {
    background-color: #000;
    &::after {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      opacity: 0.55;
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/mud.png");
      background-repeat: repeat;
      background-size: 75px 75px;
      background-position: -20px -20px;
    }
    &.field__side--left,
    &.field__side--right {
      top: 0;
      left: -8px;
      height: 100%;
      width: 8px;
      -webkit-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
      -webkit-transform: rotateX(90deg) rotateY(-90deg) translateZ(0);
      transform: rotateX(90deg) rotateY(-90deg) translateZ(0);
    }
    &.field__side--right {
      left: auto;
      right: 0;
    }
    &.field__side--back {
      -webkit-transform: rotateX(180deg) translateZ(420px);
      transform: rotateX(180deg) translateZ(420px);
    }
  }
}

.field__line {
  position: absolute;
  width: 100%;
  height: 3px;
  z-index: 4;
}
.field__line--goal {
  width: 16%;
  height: 6%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4%;
}
.field__line--goal--far {
  top: 4%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
}
.field__line--penalty-arc {
  width: 20%;
  height: 20%;
  overflow: hidden;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
}
.field__line--penalty-arc:after {
  position: absolute;
  top: 75%;
  width: 100%;
  height: 100%;
  left: 0;
  content: " ";
  display: block;
  border-radius: 50% 50% 0 0;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  box-sizing: border-box;
}
.field__line--penalty-arc--far {
  bottom: auto;
  top: 20%;
}
.field__line--penalty-arc--far:after {
  bottom: 75%;
  top: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
  border-radius: 0 0 50% 50%;
}
.field__line--penalty {
  width: 44%;
  height: 16%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4%;
}
.field__line--penalty--far {
  top: 4%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
}
.field__line--outline {
  width: 92%;
  height: 92%;
  top: 4%;
  left: 4%;
  border: solid 3px rgba(255, 255, 255, 0.5);
}
.field__line--mid {
  top: 50%;
  width: 92%;
  left: 4%;
  background-color: rgba(255, 255, 255, 0.5);
}
.field__line--circle {
  width: 20%;
  height: 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
