.formation-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  .formations {
    padding: 10px;
    flex: 1;
    // max-width: 600px;
    // margin: 0 auto;
    .formations-carousel {
      position: relative;
      z-index: 2;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        display: inherit;
        height: 150px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin: 0 5px;
        border: 2px solid rgb(78, 90, 148);
        background: none;
        color: #fff;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s all;
        font-size: 22px;
        img{
          height: 18px;
          background:white;
          border-radius: 50%;
          padding:2px;
        }
        &:hover,
        &.selected {
          background: rgba(255, 255, 255, 0.3);
          border-color: #fff;
        }
      }
    }
  }
}

drag-scroll{
  pointer-events: initial!important;
}
