<div class="formation-wrap">
  <div class="formations menu-panel">
    <div class="formations-carousel">
      <drag-scroll>
          <button 
          [class.selected]="ft.name === (selectedFormation$ | async)"
            (click)="selectFormation(ft.name)" class="formation" drag-scroll-item 
            *ngFor="let ft of formationTypes$ | async">
              {{ft.name}}
              <img src="../../../../assets/images/up-and-down.svg">
          </button>

      </drag-scroll>
    </div>
  </div>
</div>
