.bench-wrap {
  width: 100%;
  height: 100%;
  display: flex;

  .bench {
    flex: 1;
    .bench-inner {
      position: relative;
      z-index: 2;
      ul {
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0 0 10px 0;
        &.pending {
          background: rgba(255, 255, 255, 0.3);         
        }
        li {
          button {
            cursor: pointer;
            padding: 10px;
            width: 100%;
            border: 0;
            background: none;
            color: #fff;
            text-align: left;
            font-weight: 500;
            transition: 0.3s all;
            // font-weight: bold;
            font-size: 16px;
            display: flex;
            align-items: center;
            &:hover,
            &.selected {
              background: rgba(255, 255, 255, 0.3);
            }
            sup {
              font-weight: 400;
              letter-spacing: 2px;
              color: rgb(255, 67, 67);
            }
          }
        }
        &.lineup {
          li {
            button {
              &:disabled {
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }
}
