.app-wrap {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
  grid-template-rows: 80px 1fr auto;
  grid-template-columns: 330px 1fr 330px;
  height: calc(100vh - 30px);
  gap: 20px;
  padding: 15px;
  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    overflow-y: scroll;
    padding: 10px;
    height: 97vh;
    margin-top: 10px;
  }
  &.menu-visible {
    header,
    nav,
    aside,
    footer {
      transform: translateX(0);
    }
  }
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

section {
  grid-area: section;
  // z-index: -1;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

header,
nav,
aside,
footer {
  transition: 0.3s transform;
  z-index: 2;
  transform: translateX(-100vw);
}
header,
nav,
footer,
aside {
  @media screen and (max-width: 992px) {
    margin-top: 10px;
  }
}

.show-menu {
  display: none;
  position: fixed;
  border: none;
  width: 50px;
  height: 50px;
  background: #fff;
  z-index: 3;
  top: 20px;
  right: 20px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.349);
  border-radius: 50%;
  @media screen and (max-width: 992px) {
    display: block;
  }
}
